{
    "default_values": { "default_a_val": 0.36,

                        "maxev": {"default": 0.88,
                                   "r0"     : 1.00,
                                   "r1"     : 0.88,
                                   "r2"     : 0.84,
                                   "r3"     : 0.77,
                                   "r4"     : 0.62,
                                   "r5"     : 0.50},
                        "minev": {"default": 0.67,
                                    "r0"    : 0.00,
                                    "r1"    : 0.67,
                                    "r2"    : 0.55,
                                    "r3"    : 0.51,
                                    "r4"    : 0.37,
                                    "r5"    : 0.29}
                        },
    "datetime_format": "%d/%m/%Y",
    "datatypes":{
        "unique_id":            {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "owner":                {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "road_num":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "road_name":            {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "sect_num":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "sect_nam":             {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "dirctn":               {"type": "str",      "domain":  {"range_type": "set",   "range": ["Forward", "Reverse"]                        }},
        "start_long":           {"type": "float",    "domain":  {"range_type": "range", "range": [112, 154]                                    }},
        "start_lat":            {"type": "float",    "domain":  {"range_type": "range", "range": [-10, -44]                                    }},
        "end_long":             {"type": "float",    "domain":  {"range_type": "range", "range": [112, 154]                                    }},
        "end_lat":              {"type": "float",    "domain":  {"range_type": "range", "range": [-10, -44]                                    }},
        "path":                 {"type": "str",      "domain":  {"range_type": "None",  "range": "None"                                        }},
        "chain_start":          {"type": "float",    "domain":  {"range_type": "range", "range": [0, 3000]                                     }},
        "chain_end":            {"type": "float",    "domain":  {"range_type": "range", "range": [0, 3000]                                     }},
        "int_len":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 100]                                      }},
        "road_cat":             {"type": "str",      "domain":  {"range_type": "set",   "range": ["R1", "R2", "R3","R4", "R5"]                 }},
        "cway":                 {"type": "str",      "domain":  {"range_type": "set",   "range": ["A", "B", "C"]                               }},
        "Form_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 100]                                      }},
        "seal_flag":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["Sealed", "Unsealed"]                        }},
        "Seal_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 50]                                       }},
        "seal_date":            {"type": "datetime", "domain":  {"range_type": "range", "range": ["{dnow}", "None"]                            }},
        "line_mark":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["Yes","No"]                                  }},
        "num_lanes":            {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                                      }},
        "frwd_lanes":           {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                                      }},
        "cntr_lanes":           {"type": "int",      "domain":  {"range_type": "range", "range": [1, 10 ]                                      }},
        "lane_width":           {"type": "float",    "domain":  {"range_type": "range", "range": [1, 10 ]                                      }},
        "seal_shld":            {"type": "float",    "domain":  {"range_type": "range", "range": [0, 10 ]                                      }},
        "unseal_shld":          {"type": "float",    "domain":  {"range_type": "range", "range": [0, 10 ]                                      }},
        "avc":                  {"type": "int",      "domain":  {"range_type": "range", "range": [1, 12 ]                                      }},
        "mass_lim":             {"type": "float",    "domain":  {"range_type": "range", "range": [1, 150]                                      }},
        "len_lim":              {"type": "float",    "domain":  {"range_type": "range", "range": [5, 100]                                      }},
        "hati":                 {"type": "float",    "domain":  {"range_type": "range", "range": [0, 15 ]                                      }},
        "iri":                  {"type": "float",    "domain":  {"range_type": "range", "range": [0, 20 ]                                      }},
        "iri_date":             {"type": "datetime", "domain":  {"range_type": "set",   "range": [19600101,"None"]                             }},
        "rutt":                 {"type": "float",    "domain":  {"range_type": "range", "range": [0, 250]                                      }},
        "rut_date":             {"type": "datetime", "domain":  {"range_type": "set",   "range": [19600101,"None"]                             }},
        "cracking":             {"type": "int",      "domain":  {"range_type": "range", "range": [0, 100]                                      }},
        "crk_date":             {"type": "datetime", "domain":  {"range_type": "set",   "range": [19600101,"None"]                             }},
        "strength":             {"type": "int",      "domain":  {"range_type": "range", "range": [0, 10000]                                    }},
        "str_date":             {"type": "datetime", "domain":  {"range_type": "set",   "range": [2010,"None"]                                 }},
        "textowp":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30]                                       }},
        "textbwp":              {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30]                                       }},
        "tex_date":             {"type": "datetime", "domain":  {"range_type": "set",   "range": [19600101, "None"]                            }},
        "vcg":                  {"type": "int",      "domain":  {"range_type": "set",   "range": ["0", "1", "2", "3", "4", "5"]                }},
        "pave_type":            {"type": "str",      "domain":  {"range_type": "set",   "range": ["SS", "SU", "US", "UU", "C"]                 }},
        "pave_date":            {"type": "datetime", "domain":  {"range_type": "set",   "range": [1950, "None"]                                }},
        "speed_lim":            {"type": "int",      "domain":  {"range_type": "range", "range": [25,130]                                      }},
        "traffic":              {"type": "int",      "domain":  {"range_type": "range", "range": [0,50000]                                     }},
        "perc_heavy":           {"type": "int",      "domain":  {"range_type": "range", "range": [0, 100]                                      }},
        "climate":              {"type": "str",      "domain":  {"range_type": "set",   "range": ["CD", "CW", "HD", "HW"]                      }},
        "subgrade":             {"type": "str",      "domain":  {"range_type": "set",   "range": ["S", "M", "C", "X", "R"]                     }},
        "cost_maint":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30000000000 ]                             }},
        "cost_asset":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 300000000000]                             }},
        "revn_asset":           {"type": "float",    "domain":  {"range_type": "range", "range": [0, 30000000000 ]                             }}
    }
}
